* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(23, 219, 160);
    color: rgb(20, 2, 2);
}

h1,
h2 {
    text-align: center;
}

img {
    display: block;
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 40px;
}

p {
    text-align: center;
    font-size: 60px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid rgb(202, 21, 121);
    box-shadow: 5px 10px #db1345;
}